/*
 *  CSS for the Header component
 */

.clicky-header {
    background-color: darkslategray;
    color: white;
    font-size: 2vw;
    text-align: center;
    padding: 10px 0;
    /*
    margin-top: 60px;
    */    
}