/*
 *  CSS for the NavBar component
 */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clicky-nav-bar {
    background: darkslateblue;
    color: white;
    width: 100%;
    height: auto;
    padding: 20px 0px;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
}

.clicky-name {
    font-size: 3vw;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.clicky-nav-bar-name,
.clicky-nav-bar-msg,
.clicky-nav-bar-results {
    display: inline-block;
    text-align: center;
    width: 33%;
}

.clicky-msg,
.clicky-results {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}