/*
 *  CSS for the SuperHero Card components
 */

.card {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  margin: 3rem;
  width: 150px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  transition: transform .2s;
  float:left;
}

img:hover {
  transform: scale(1.1);
}